In [1]:
import pandas as pd
import numpy as np

In [27]:
df_perf = pd.read_csv("/Users/kdugg/Downloads/2019Q1/Performance_2019Q1.txt", delimiter = "|", header = None)
df_perf = df_perf.assign(qtr="2019Q1.parquet")
i = len(df_perf.columns)
df_acq = pd.read_csv("/Users/kdugg/Downloads/2019Q1/Acquisition_2019Q1.txt", delimiter = "|", header = None)
df_acq = df_acq.assign(qtr="2019Q1.parquet")
df_acq.columns = [j for j in range(i, i+26)]
df_acq.rename(columns={i:0, 57:'qtr'}, inplace=True)

In [33]:
joined = pd.merge(df_perf, df_acq, on = [0, 'qtr'])

In [34]:
len(joined.columns)

56

In [36]:
joined

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,100000913397,01/01/2019,OTHER,5.875,NaN,3,357,357.0,10/2048,40140,...,PU,1,P,CA,925,NaN,FRM,665.0,NaN,N
1,100000913397,02/01/2019,NaN,5.875,NaN,4,356,356.0,10/2048,40140,...,PU,1,P,CA,925,NaN,FRM,665.0,NaN,N
2,100000913397,03/01/2019,NaN,5.875,NaN,5,355,355.0,10/2048,40140,...,PU,1,P,CA,925,NaN,FRM,665.0,NaN,N
3,100000913397,04/01/2019,NaN,5.875,NaN,6,354,354.0,10/2048,40140,...,PU,1,P,CA,925,NaN,FRM,665.0,NaN,N
4,100000913397,05/01/2019,NaN,5.875,NaN,7,353,353.0,10/2048,40140,...,PU,1,P,CA,925,NaN,FRM,665.0,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105034,999997761057,08/01/2019,NaN,5.750,74410.49,7,353,353.0,01/2049,36140,...,SF,1,P,NJ,82,NaN,FRM,644.0,NaN,N
3105035,999997761057,09/01/2019,NaN,5.750,74329.36,8,352,352.0,01/2049,36140,...,SF,1,P,NJ,82,NaN,FRM,644.0,NaN,N
3105036,999997761057,10/01/2019,NaN,5.750,74247.84,9,351,351.0,01/2049,36140,...,SF,1,P,NJ,82,NaN,FRM,644.0,NaN,N
3105037,999997761057,11/01/2019,NaN,5.750,74165.93,10,350,350.0,01/2049,36140,...,SF,1,P,NJ,82,NaN,FRM,644.0,NaN,N
3105038,999997761057,12/01/2019,NaN,5.750,74083.63,11,349,349.0,01/2049,36140,...,SF,1,P,NJ,82,NaN,FRM,644.0,NaN,N