In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("/Users/kdugg/Documents/2003Q3")

In [3]:
df

,LOAN_IDENTIFIER,MONTHLY_REPORTING,DELTA_INTEREST,LOAN_AGE,ADJUSTED_MONTHS_TO_MATURITY,ORIGINAL_LOAN-TO-VALUE,UNEMPLOYMENT_RATE,HOUSING_PRICE,PERSONAL_INCOME,POPULATION
0,854403675290,43,-0.8890,1.0,358.0,62.0,5.4,165195.461538,2.706994e+07,740637.310345
1,854403675290,44,-0.7725,2.0,358.0,62.0,5.3,165807.871795,2.706994e+07,740637.310345
2,854403675290,45,-0.5770,3.0,357.0,62.0,5.0,166449.000000,2.706994e+07,740637.310345
3,854403675290,46,-0.5575,4.0,356.0,62.0,5.1,166960.871795,2.706994e+07,740637.310345
4,854403675290,47,-0.5010,5.0,355.0,62.0,4.9,167466.410256,2.706994e+07,740637.310345
...,...,...,...,...,...,...,...,...,...,...
102088875,811138027318,174,2.1390,132.0,42.0,80.0,6.7,88135.362069,3.717348e+06,93724.813084
102088876,811138027318,175,2.1275,133.0,41.0,80.0,6.3,88306.293103,3.717348e+06,93724.813084
102088877,811138027318,176,2.0675,134.0,40.0,80.0,5.6,87507.135593,3.717348e+06,93724.813084
102088878,811138027318,177,2.1650,135.0,39.0,80.0,5.1,87632.677966,3.717348e+06,93724.813084
102088879,811138027318,178,2.1875,136.0,0.0,80.0,5.2,87831.338983,3.717348e+06,93724.813084

In [10]:
df[df['ADJUSTED_MONTHS_TO_MATURITY']==-1]

,LOAN_IDENTIFIER,MONTHLY_REPORTING,DELTA_INTEREST,LOAN_AGE,ADJUSTED_MONTHS_TO_MATURITY,ORIGINAL_LOAN-TO-VALUE,UNEMPLOYMENT_RATE,HOUSING_PRICE,PERSONAL_INCOME,POPULATION
1735,949191727380,100,0.3390,56.0,-1.0,67.0,5.7,142797.028571,6.495974e+06,179720.820513
1736,949191727380,101,0.0550,57.0,-1.0,67.0,6.1,142797.000000,6.495974e+06,179720.820513
1737,949191727380,102,-0.0510,58.0,-1.0,67.0,6.5,142725.971429,6.495974e+06,179720.820513
1738,949191727380,103,-0.1025,59.0,-1.0,67.0,6.5,142207.400000,6.495974e+06,179720.820513
1739,949191727380,104,0.3375,60.0,-1.0,67.0,6.0,141815.828571,6.495974e+06,179720.820513
...,...,...,...,...,...,...,...,...,...,...
102087370,974466443011,144,-1.9150,101.0,-1.0,70.0,6.0,250017.133333,1.878547e+07,348435.948718
102087371,974466443011,145,-1.8900,102.0,-1.0,70.0,6.1,249734.290323,1.878547e+07,348435.948718
102087372,974466443011,146,-1.9540,103.0,-1.0,70.0,5.9,248362.000000,1.878547e+07,348435.948718
102087373,974466443011,147,-1.9100,104.0,-1.0,70.0,5.4,246978.129032,1.878547e+07,348435.948718
102087374,974466443011,155,-1.3450,112.0,-1.0,70.0,5.3,244578.451613,1.878547e+07,348435.948718

In [13]:
df[df['LOAN_IDENTIFIER']=='974466443011']

,LOAN_IDENTIFIER,MONTHLY_REPORTING,DELTA_INTEREST,LOAN_AGE,ADJUSTED_MONTHS_TO_MATURITY,ORIGINAL_LOAN-TO-VALUE,UNEMPLOYMENT_RATE,HOUSING_PRICE,PERSONAL_INCOME,POPULATION
102087270,974466443011,44,-1.0225,1.0,359.0,70.0,4.0,281131.370370,1.338449e+07,337132.153846
102087271,974466443011,45,-0.8270,2.0,358.0,70.0,3.7,283381.777778,1.338449e+07,337132.153846
102087272,974466443011,46,-0.8075,3.0,357.0,70.0,3.8,285677.185185,1.338449e+07,337132.153846
102087273,974466443011,47,-0.7510,4.0,356.0,70.0,3.6,287951.074074,1.338449e+07,337132.153846
102087274,974466443011,48,-0.5875,5.0,355.0,70.0,4.2,289786.148148,1.424954e+07,339379.256410
...,...,...,...,...,...,...,...,...,...,...
102087371,974466443011,145,-1.8900,102.0,-1.0,70.0,6.1,249734.290323,1.878547e+07,348435.948718
102087372,974466443011,146,-1.9540,103.0,-1.0,70.0,5.9,248362.000000,1.878547e+07,348435.948718
102087373,974466443011,147,-1.9100,104.0,-1.0,70.0,5.4,246978.129032,1.878547e+07,348435.948718
102087374,974466443011,155,-1.3450,112.0,-1.0,70.0,5.3,244578.451613,1.878547e+07,348435.948718
102087375,974466443011,156,-1.4140,113.0,0.0,70.0,6.1,244945.612903,1.870580e+07,349461.512821

In [ ]:
li1 = []
li2 = []
c = 0
for x in l:
    df123 = df[df['LOAN_IDENTIFIER'] == x]
    if len(df123[df123['ADJUSTED_MONTHS_TO_MATURITY'] == 0]) > 0:
        li1.append(x)
    else:
        li2.append(x)
    c += 1
    if c > 100:
        break

In [ ]:
len(li1)

In [ ]:
import fredapi

In [ ]:
df[df['LOAN_IDENTIFIER'] == li2[0]]