In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('/Users/kdugg/Documents/County_Unemploymen.txt', delimiter = '\t')

C:\Users\kdugg\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
del df['footnote_codes']

In [15]:
df = df[df.period != 'M13']

In [16]:
df = df.drop(df.index[[4684762, 4684763]])

In [17]:
df= df.query('year!=2020')

In [18]:
df = df.query('period == \'M01\' or period == \'M04\' or period == \'M07\' or period == \'M10\'')

In [19]:
df = df.query('year > 1999')

In [20]:
df = df.rename(str.strip, axis='columns')

In [21]:
unemployrate = df[df["series_id"].str.contains("000003")]
unemployrate['series_id'] = [int(x[5:10]) for x in unemployrate['series_id']]

C:\Users\kdugg\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
unemployrate

         series_id  year period         value
130           1001  2000    M01           4.4
133           1001  2000    M04           3.1
136           1001  2000    M07           4.1
139           1001  2000    M10           3.8
143           1001  2001    M01           3.8
...            ...   ...    ...           ...
5069665      72153  2018    M10          12.5
5069669      72153  2019    M01          14.6
5069672      72153  2019    M04          14.2
5069675      72153  2019    M07          12.8
5069678      72153  2019    M10          14.4

[257440 rows x 4 columns]